html {
  background-color: #2e2e2e;
}

.square {
  background-color: yellow;
  border: solid #000 1px;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.row {
  
}

.table {
 background-color: #fff;
}
