#game .square {
  border: solid #000 1px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#game .square p {
  height: 100%;
  vertical-align: middle;
}

#game .row {
  display: flex;
  justify-content: center;
}

#game .board {
 background-color: #fff;
}

#game h3 {
  text-align: center;
}

#game .board {
  margin: 0 auto;
}